<app-panel [title]="'neue Textvorlage erstellen oder vorhandene Vorlage bearbeiten'">

  <form [formGroup]='form' (validSubmit)='onSubmit()'>

    <div class="row">
      <div class="col-md-5 p-4">
        <div class="form-group">
          <label for="name">neue Textvorlage erstellen oder bestehende bearbeiten</label>
          <select formControlName='type_id' class="form-control" (change)="getChannel()">
            <option value="0">Neue Vorlage</option>
            <option *ngFor="let template of templates" [value]="template.id">{{ template.name }}</option>
          </select>
        </div>
        <div class="form-group mt-4">
          <label for="name">Name der Vorlage</label>
          <input type="text" class="form-control" id="name" formControlName='name' />
        </div>
        <div class="form-group mt-4">
          <label for="title">Titel</label>
          <input type="text" class="form-control" id="title" formControlName='title' />
        </div>

        <div class="form-group mt-4">
          <label for="message">Textbaustein</label>
          <textarea class="form-control" rows="10" formControlName='messages'></textarea>
        </div>
      </div>
      <div class="col-md-3 p-4">
        <!-- <div class="form-group">
          <label for="title">Timer</label>
          <input type="text" class="form-control" id="title" atp-time-picker value="19:00" formControlName='timer'/>
        </div> -->
        <div class="form-group">
          <label for="title">Kanäle</label>
          <ng-multiselect-dropdown
            formControlName="channels"
            [placeholder]="'Auswählen Kanäle'"
            [settings]="channelTypeDropdownSettings"
            [data]="channelDropdownList"
            [(ngModel)]="channelSelectedItems"
            (onSelect)="onChannelItemSelect($event)"
          >
        </ng-multiselect-dropdown>
        </div>
      </div>
      <div class="col-md-3 p-4">
        <div class="form-group">
          <label for="title">Benutzergruppen</label>
          <ng-multiselect-dropdown
            formControlName="userGroups"
            [placeholder]="'Auswählen Benutzergruppen'"
            [settings]="userDropdownSettings"
            [data]="userDropdownList"
            [(ngModel)]="userSelectedItems"
            (onSelect)="onUserItemSelect($event)"
          >
        </ng-multiselect-dropdown>
        </div>
      </div>
    </div>

    <div class="w-100 d-flex justify-content-end">
      <button ngDefaultControl formControlName="vorlage_speichern" class="btn btn-secondary" type="submit">
        <i class="fa fa-save"></i>
        Vorlage Speichern
      </button>
    </div>

  </form>



  <ng-template #content let-modal>

    <div class="modal-body" style="background-color: #f4f4f4;">

      <div class="container p-5">
        <div class="d-flex flex-column">
          <p class="m-3">Die Textvorlage wurde erfolgreich gespeichert!</p>

          <button class="btn btn-success" (click)="modal.close('Close click')">Ok, zuruck zu Home</button>
        </div>
      </div>
    </div>

  </ng-template>

</app-panel>
