<app-panel [title]="'Benutzerkonten'">

  <div class="d-flex justify-content-end w-100 mb-5">
    <button class="btn btn-secondary" (click)="goToUserAddUser()">
      <span><i class="fas fa-plus"></i> Add</span>
    </button>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <td>ID</td>
        <td>FIRST NAME</td>
        <td>LAST NAME</td>
        <td>EMAIL</td>
        <td>ERSTELLDATUM</td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.first_name }}</td>
        <td>{{ user.last_name }}</td>
        <td>{{ user.email_address }}</td>
        <td>{{ user.date_created | customDate }}</td>
        <td><button (click)="goToUser(user.id)" class="btn btn-warning btn-block">VIEW</button></td>
      </tr>
    </tbody>
  </table>
</app-panel>
