<div class="container-fluid p-3 header">

  <div class="container d-flex justify-content-between align-items-center">
    <div>
      <ul>
        <li class="list-unstyled d-inline p-3"><img src="assets/img/aktiv_eskole.svg"/></li>
        <li class="list-unstyled d-inline p-3"><img src="assets/img/aktiv_kika.svg"/></li>
        <li class="list-unstyled d-inline p-3"><img src="assets/img/aktiv_leiner.svg"/></li>
      </ul>
    </div>

    <nav>
      <ul class="">
        <li class="p-2 d-inline list-unstyled"><a routerLink="/" href="">Home</a></li>
        <li class="p-2 d-inline list-unstyled"><a routerLink="/announcements">Mitteilungen</a></li>
        <li class="p-2 d-inline list-unstyled"><a routerLink="/text-templates">Textvorlagen</a></li>
        <li class="p-2 d-inline list-unstyled"><a routerLink="/history">Historie</a></li>
      </ul>
    </nav>

    <div class="d-flex justify-content-center userbar">
        <img width="60" height="60" src="assets/img/LUKSOS_Logo.png"/>

        <div class="position-relative d-inline-block" style="z-index: 1;">
          <p>
            <span style="font-weight: light">Willkomen Bei</span>&nbsp;<span style="font-weight: bold">LukSOS</span>
            <br>
          </p>

          <div class="menu-dropdown">
            <ul class="position-absolute bg-white border-1 m-2 mt-0 list-unstyled">
              <li class="p-3 text-start"><a routerLink="">Profil</a></li>
              <li class="p-3 text-start"><a routerLink="/users">Einstellungen</a></li>
              <li class="p-3 text-start" (click)="logOut()"><a>Ausloggen</a></li>
            </ul>
          </div>


        </div>


    </div>
  </div>
</div>
