<app-panel [title]="'Work Period Configuration'">
  <div class="d-flex justify-content-end w-100 mb-3">
    <!-- <button class="btn btn-secondary" (click)="goToAddWorkPeriod()">
      <span>Add <i class="fas fa-plus"></i></span>
    </button> -->
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <td>ID</td>
        <td>Config Code</td>
        <td>Description</td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let channel of channels">
        <td>{{ channel.id }}</td>
        <td>{{ channel.config_type }}</td>
        <td>{{ channel.description }}</td>
        <td><button (click)="goToEditWorkPeriodConfig(channel.id)" class="btn btn-warning btn-block">VIEW</button></td>
      </tr>
    </tbody>
  </table>
</app-panel>
