<app-panel [title]="'neue Mitteilung erstellen'">

  <form [formGroup]='form' (validSubmit)='onSubmit()'>

    <div class="row">
      <div class="col-md-5 p-4">

        <div class="form-group">
          <label for="name">Vorlage</label>

          <select formControlName='type_id' class="form-control" (change)="getChannel()">
            <option value="">Wähle eins</option>
            <option *ngFor="let message of messages" [value]="message.id">{{ message.name }}</option>
          </select>
        </div>
        <div class="form-group mt-4">
          <label for="title">Titel</label>
          <input type="text" class="form-control" id="title" formControlName='title' />
        </div>

        <div class="form-group mt-4">
          <label for="message">Textbaustein</label>
          <textarea class="form-control" rows="10" formControlName='messages'></textarea>
        </div>
      </div>
      <div class="col-md-4 p-4">
        <div class="form-group">
          <label for="title">Zeituhr (min)</label>
          <input type="number" class="form-control" id="timer" formControlName='timer' />
        </div>

        <div class="form-group mt-4">
          <label for="title">Verbleibende Zeit (min)</label>
          <input type="number" class="form-control" id="reminder_timer" formControlName='reminder_timer' />
        </div>

        <div class="form-group mt-4">
          <label for="title">Kanäle</label>
          <ng-multiselect-dropdown
            formControlName="channels"
            [placeholder]="'Auswählen Kanäle'"
            [settings]="channelTypeDropdownSettings"
            [data]="channelDropdownList"
            [(ngModel)]="channelSelectedItems"
            (onSelect)="onChannelItemSelect($event)"
          >
        </ng-multiselect-dropdown>
        </div>
        <div class="form-group mt-4">
          <label for="title">Benutzergruppen</label>
          <ng-multiselect-dropdown
            formControlName="userGroups"
            [placeholder]="'Auswählen Benutzergruppen'"
            [settings]="groupDropdownSettings"
            [data]="groupDropdownList"
            [(ngModel)]="groupSelectedItems"
            (onSelect)="onUserItemSelect($event)"
          >
        </ng-multiselect-dropdown>
        </div>
      </div>
      <div class="col-md-3  d-flex justify-content-center align-items-center">

      </div>
    </div>

    <div class="w-100 d-flex justify-content-end">
      <button ngDefaultControl formControlName="aktivieren" class="btn btn-secondary" type="submit"><i class="fa fa-save"></i> Mitteilung aktivieren</button>
    </div>

  </form>



  <ng-template #content let-modal>

    <div class="modal-body" style="background-color: #f4f4f4;">

      <div class="container p-5">
        <div class="d-flex flex-column">
          <p class="m-3">Die Textvorlage wurde erfolgreich gespeichert!</p>

          <button class="btn btn-success" (click)="modal.close('Close click')">Ok, zuruck zu Home</button>
        </div>
      </div>
    </div>

  </ng-template>

</app-panel>
