<app-panel [title]="'Textvorlagen'">

  <table class="table table-striped">
    <thead>
      <tr>
        <td>ID</td>
        <td>TITEL</td>
        <td>ERSTELLT</td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let template of templates;">
        <td>{{ template.id }}</td>
        <td>{{ template.title }}</td>
        <td>{{ template.date_created | customDate }}</td>
        <td><button class="btn"><i class="fa fa-trash" (click)="deleteTemplate(template.id)"></i></button></td>
      </tr>

    </tbody>
  </table>
</app-panel>
