<app-panel [title]=pageTitle>
  <form [formGroup]='form' (validSubmit)='onSubmit()'>

    <div class="row">
      <div class="col-md-7 p-4">

        <div class="form-group">
          <label for="title">Titel</label>
          <input type="text" class="form-control" id="title" formControlName='title' readonly='true'/>
        </div>
        <div class="form-group mt-4">
          <label for="reported_date">erstellt am/um</label>
          <input type="text" class="form-control" id="reported_date" formControlName='reported_date' readonly='true'/>
        </div>

        <div class="form-group mt-4">
          <label for="title">Textbaustein</label>
          <textarea class="form-control" rows="10" formControlName='message' readonly='true'></textarea>
        </div>
      </div>
      <div class="col-md-5 p-4">
        <div class="form-group">
          <label for="timer">voraussichtliche Dauer</label>
          <input type="text" class="form-control" id="timer" formControlName='timer' readonly='true'/>
        </div>
        <div class="form-group mt-4">
          <label for="title">Kanäle</label>
          <ng-multiselect-dropdown
            formControlName="channelType"
            [placeholder]="'Auswählen Kanäle'"
            [settings]="channelTypeDropdownSettings"
            [data]="channelDropdownList"
            [(ngModel)]="channelSelectedItems"
            (onSelect)="onChannelItemSelect($event)"
            [disabled]='true'
          >
        </ng-multiselect-dropdown>
        </div>
        <div class="form-group mt-4">
          <label for="title">Benutzergruppen</label>
          <ng-multiselect-dropdown
            formControlName="channelGroup"
            [placeholder]="'Auswählen Kanalgruppe'"
            [settings]="groupDropdownSettings"
            [data]="groupDropdownList"
            [(ngModel)]="groupSelectedItems"
            [disabled]='true'
          >
          </ng-multiselect-dropdown>
        </div>
        <div class="form-group mt-2">
          <label for="related_system">Related Service</label>
          <input type="text" class="form-control" id="related_system" formControlName='related_system' readonly='true'/>
        </div>
        <div class="form-group mt-2">
          <label for="known_since">Bekannt Seit</label>
          <input type="text" class="form-control" id="known_since" formControlName='known_since' readonly='true'/>
        </div>        
        <div class="form-group" style="margin-top: 1em;">
          <div class="row">
            <div class="form-group col-md-6">
              <label for="logs">Anzahl Zwischenmeldung</label>
              <div class="input-group">
                <input type="text" class="form-control" id="logs" formControlName='logs' />
                <div class="input-group-prepend">
                  <div class="input-group-text input-report" style="height: 2.5rem" (click)="openModal(logMessages)"><i class="fa fa-search" style="justify-content: center; align-items: center;"></i></div>
                </div>
              </div>              
            </div>
            <div class="form-group col-md-6">
              <label for="art_der_mitteilung">Art der Mitteilung</label>
              <input type="text" class="form-control" id="art_der_mitteilung" formControlName='art_der_mitteilung' readonly='true'/>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3  d-flex justify-content-center align-items-center">

      </div>
    </div>

    <div class="row mb-4">
      <div class="col-md-4"></div>
      <div class="col-md-4"></div>
      <div class="col-md-4">

      </div>
      <!-- <div class="col-md-2"></div> -->
    </div>
    <div class="row">
      <div class="d-flex">
        <div>
          <button ngDefaultControl formControlName="zwischenmeldung_erstellen" class="btn btn-secondary" (click)="openModal(content)" type="button">
            Zwischenmeldung erstellen
          </button>
        </div>

        <div class="ml-auto" style="margin-left: auto">
          <button ngDefaultControl formControlName="gutmeldung_schicken" class="btn btn-success" style="margin-right: 10px;" (click)="openModal(completion)" type="button">
            <i class="fa-solid fa-circle-check"></i>
            Gutmeldung schicken
          </button>
          <button ngDefaultControl formControlName="aktivieren" class="btn btn-secondary" type="submit">
            <i class="fa fa-save"></i>
            Mitteilung aktivieren
          </button>
        </div>

      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-3"><b>Ersteller/in:</b> {{reportedBy}}</div>
      <div class="col-md-3"><b>Bearbeiter/in: </b></div>
      <div class="col-md-6"></div>
    </div>
  </form>


  <ng-template #content let-modal>
    <div class="modal-header justify-content-center">
      <h4 class="modal-title text-center" id="modal-title">Zwischenmeldung erstellen</h4>

    </div>
    <form class="modal-body" style="background-color: #f4f4f4;" [formGroup]="modalForm">
      <div class="form">
        <div class="row">
          <div class="col-md-12 p-4">

            <div class="form-group">
              <label for="title">Titel der Notfallmeldung</label>
              <input type="text" class="form-control" id="title" formControlName="title"/>
            </div>

            <div class="form-group mt-4">
              <label for="message">Zwischenmeldung Text</label>
              <textarea class="form-control" rows="8" formControlName="message"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-between p-4">
        <button class="btn btn-light" style="margin-right: 10px;" (click)="modal.close()">
          Verwerfen
        </button>
        <button ngDefaultControl formControlName="senden" class="btn btn-secondary" (click)="submitMessages($event)">
          Zwischenmeldung senden
        </button>
      </div>
    </form>

  </ng-template>


  <ng-template #logMessages let-modal>
    <div class="modal-header justify-content-center">
      <h4 class="modal-title text-center" id="modal-title">Zwischenmeldung einsehen</h4>
    </div>
    <div class="modal-body" style="background-color: #f4f4f4;">
      <div class="form">
        <div class="row">
          <div class="col-md-12 p-4">
            <table class="table table-striped">
              <thead>
                <tr>
                  <td>ERSTELLER</td>
                  <td>ERSTELLT</td>
                  <td>TEXT</td>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let log of logs">
                  <td>{{log.updated_by}}</td>
                  <td>{{log.date_created | customDate}}</td>
                  <td>{{log.updated_text}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center p-4">
        <button class="btn btn-dark" (click)="modal.close()">
          Schließen
        </button>
      </div>
    </div>

  </ng-template>

  <ng-template #completion let-modal>
    <div class="modal-header justify-content-center">
      <h4 class="modal-title text-center" id="modal-title">Gutmeldung Schicken</h4>
    </div>
    <form class="modal-body" style="background-color: #f4f4f4;" [formGroup]="completionModalForm">
      <div class="form">
        <div class="row">
          <div class="col-md-12 p-4">

            <div class="form-group">
              <label for="title">Titel</label>
              <input type="text" class="form-control" id="completion_title" formControlName="completion_title"/>
            </div>

            <div class="form-group mt-4">
              <label for="completion_message">Text</label>
              <textarea class="form-control" rows="8" formControlName="completion_message"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-between p-4">
        <button class="btn btn-light" style="margin-right: 10px;" (click)="modal.close()">
          Verwerfen
        </button>
        <button ngDefaultControl formControlName="completion_senden" class="btn btn-success" (click)="closeFault()">
          <i class="fa-solid fa-circle-check"></i>          
          Gutmeldung Schicken
        </button>     
      </div>
    </form>
  </ng-template>
</app-panel>
