<app-panel [title]=pageTitle>
  <form [formGroup]='form' (validSubmit)='onSubmit()'>

    <div class="row">
      <div class="col-md-5 p-4">

        <div class="form-group">
          <label for="title">Titel</label>
          <input type="text" class="form-control" id="title" formControlName='title'/>
        </div>
        <div class="form-group mt-4">
          <label for="title">erstellt am/um</label>
          <input type="text" class="form-control" id="title" formControlName='reported'/>
        </div>

        <div class="form-group mt-4">
          <label for="title">Textbaustein</label>
          <textarea class="form-control" rows="10" formControlName='message'></textarea>
        </div>
      </div>
      <div class="col-md-4 p-4">
        <div class="form-group">
          <label for="title">voraussichtliche Dauer</label>
          <input type="text" class="form-control" id="title" formControlName='timer'/>
        </div>
        <div class="form-group mt-4">
          <label for="title">Kanäle</label>
          <ng-multiselect-dropdown
            [placeholder]="'Auswählen Kanäle'"
            [settings]="channelTypeDropdownSettings"
            [data]="channelDropdownList"
            [(ngModel)]="channelSelectedItems"
            (onSelect)="onChannelItemSelect($event)"
          >
        </ng-multiselect-dropdown>
        </div>
        <div class="form-group mt-4">
          <label for="title">Kanalegruppen</label>
          <ng-multiselect-dropdown
            [placeholder]="'Auswählen Kanalgruppe'"
            [settings]="groupDropdownSettings"
            [data]="groupDropdownList"
            [(ngModel)]="groupSelectedItems"
          >
        </ng-multiselect-dropdown>
        </div>
      </div>
      <div class="col-md-3  d-flex justify-content-center align-items-center">

      </div>
    </div>

    <div class="row">
      <div class="d-flex">

        <div>
          <button class="btn btn-secondary" (click)="openModal(content)">
            Zwischenmeldung erstellen
          </button>
        </div>

        <div class="ml-auto" style="margin-left: auto">
          <button class="btn btn-success" style="margin-right: 10px;" (click)="closeFault(id)">
            <i class="fa-solid fa-circle-check"></i>
            Gutmeldung schicken
          </button>
          <button class="btn btn-secondary">
            <i class="fa fa-save"></i>
            Mitteilung aktivieren
          </button>
        </div>

      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-3"><b>Ersteller/in: {{reportedBy}}</b></div>
      <div class="col-md-3"><b>Bearbeiter/in: </b></div>
      <div class="col-md-6"></div>
    </div>
  </form>


  <ng-template #content let-modal>
    <div class="modal-header justify-content-center">
      <h4 class="modal-title text-center" id="modal-title">Zwischenmeldung erstellen</h4>

    </div>
    <div class="modal-body" style="background-color: #f4f4f4;">
      <div class="form">
        <div class="row">
          <div class="col-md-12 p-4">

            <div class="form-group">
              <label for="title">Titel der Notfallmeldung</label>
              <input type="text" class="form-control" id="title"/>
            </div>

            <div class="form-group mt-4">
              <label for="title">Zwischenmeldung Text</label>
              <textarea class="form-control" rows="10"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-between p-4">
        <button class="btn btn-light" style="margin-right: 10px;" (click)="modal.close()">
          Verwerfen
        </button>
        <button class="btn btn-dark">
          Zwischenmeldung senden
        </button>
      </div>
    </div>

  </ng-template>

</app-panel>
