

<div class="mt-5">
  <div class="card">
    <div class="card-title">
      <h3 class="p-3">Einstellungen</h3>
    </div>
    <div class="card-body pt-3">
      <ul class="d-block">
        <li class="list-unstyled pt-3 pb-3 mb-1"><a routerLink="text-templates" routerLinkActive="active-link">Textvorlagen</a></li>
        <li class="list-unstyled pt-3 pb-3 mb-1"><a routerLink="channels" routerLinkActive="active-link">Kanale</a></li>
        <!-- <li class="list-unstyled pt-3 pb-3 mb-1"><a routerLink="text-templates-groups" routerLinkActive="active-link">Textvorlagentyp</a></li>
        <li class="list-unstyled pt-3 pb-3 mb-1"><a routerLink="#" routerLinkActive="active-link">Kanäle einrichten</a></li>
        <li class="list-unstyled pt-3 pb-3 mb-1"><a routerLink="#" routerLinkActive="active-link">Einrichtung der Kanalgruppe</a></li> -->
        <li class="list-unstyled pt-3 pb-3 mb-1"><a routerLink="channel-groups" routerLinkActive="active-link">Kanalgruppe</a></li>
        <li class="list-unstyled pt-3 pb-3 mb-1"><a routerLink="web-system-configs" routerLinkActive="active-link">Web Systems</a></li>
        <li class="list-unstyled pt-3 pb-3 mb-1"><a routerLink="work-period-configs" routerLinkActive="active-link">Work Periods</a></li>
        <!-- <li class="list-unstyled pt-3 pb-3 mb-1"><a routerLink="user-groups" routerLinkActive="active-link">Benutzer-Rolle</a></li> -->
        <li class="list-unstyled pt-3 pb-3 mb-1"><a routerLink="user-management" routerLinkActive="active-link">Benutzerkonten</a></li>
        <!-- <li class="list-unstyled pt-3 pb-3 mb-1"><a routerLink="reports" routerLinkActive="active-link">Berichte</a></li> -->
      </ul>
    </div>
  </div>
</div>
