/* You can add global styles to this file, and also import other style files */


.form-group > label {

  font-weight: bolder;
  color: #4e4e4e;
  margin-bottom: 0.5em;
}

thead > tr {
  background-color: #e4e4e4;
  color: #4e4e4e;
  font-weight: bold;
  text-align: center;
  border-bottom: none;
  padding: 20px;
}

tbody > tr {
  text-align: center;
}

table * {
  border: none !important;
}

.active-link {
  color: #ff2448 !important;
  font-weight: bold;
  border-bottom: 3px solid #ff2448;
}

.pagination * {
  margin-right: 0.3rem !important;
}
