<app-panel [title]="'Kurzlich Hinzugefugte Mitteilungen'">

  <table class="table table-striped">
    <thead>
      <tr>
        <td>ID</td>
        <td>ERSTELLDATUM</td>
        <td>STATUS</td>
        <td>TITEL</td>
        <td>BEKANNT SEIT</td>
        <td>TIMER</td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>01.01.2020</td>
        <td>akvin</td>
        <td>Luksal Akfal</td>
        <td>01.01.2020</td>
        <td>1h</td>
        <td><button (click)="goToEdit()" class="btn btn-warning btn-block">EDIT</button></td>
      </tr>
      <tr>
        <td>1</td>
        <td>01.01.2020</td>
        <td>akvin</td>
        <td>Luksal Akfal</td>
        <td>01.01.2020</td>
        <td>1h</td>
        <td><button (click)="goToEdit()" class="btn btn-warning btn-block">EDIT</button></td>
      </tr>
      <tr>
        <td>1</td>
        <td>01.01.2020</td>
        <td>akvin</td>
        <td>Luksal Akfal</td>
        <td>01.01.2020</td>
        <td>1h</td>
        <td><button (click)="goToEdit()" class="btn btn-warning btn-block">EDIT</button></td>
      </tr>
      <tr>
        <td>1</td>
        <td>01.01.2020</td>
        <td>akvin</td>
        <td>Luksal Akfal</td>
        <td>01.01.2020</td>
        <td>1h</td>
        <td><button (click)="goToEdit()" class="btn btn-warning btn-block">EDIT</button></td>
      </tr>
      <tr>
        <td>1</td>
        <td>01.01.2020</td>
        <td>akvin</td>
        <td>Luksal Akfal</td>
        <td>01.01.2020</td>
        <td>1h</td>
        <td><button (click)="goToEdit()" class="btn btn-warning btn-block">EDIT</button></td>
      </tr>
      <tr>
        <td>1</td>
        <td>01.01.2020</td>
        <td>akvin</td>
        <td>Luksal Akfal</td>
        <td>01.01.2020</td>
        <td>1h</td>
        <td><button (click)="goToEdit()" class="btn btn-warning btn-block">EDIT</button></td>
      </tr>
      <tr>
        <td>1</td>
        <td>01.01.2020</td>
        <td>akvin</td>
        <td>Luksal Akfal</td>
        <td>01.01.2020</td>
        <td>1h</td>
        <td><button (click)="goToEdit()" class="btn btn-warning btn-block">EDIT</button></td>
      </tr>
    </tbody>
  </table>
</app-panel>
