<app-panel [title]="'Home - aktive Mitteilungen'" [isInnerPage]="false">

  <table class="table table-striped">
    <thead>
      <tr>
        <td>ID</td>
        <td>ERSTELLDATUM</td>
        <td>STATUS</td>
        <td>TITEL</td>
        <td>BEKANNT SEIT</td>
        <td>TIMER</td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let fault of faults;">
        <td>{{ fault.id }}</td>
        <td>{{ fault.date_created | customDate }}</td>
        <td>{{ fault.state }}</td>
        <td>{{ fault.title }}</td>
        <td>{{ fault.reported_date | customDate }}</td>
        <td>{{ fault.duration }} mins</td>
        <td><button (click)="goToEdit(fault.id)" class="btn"><img height="30px" src="assets/img/edit_pencil.svg"/></button></td>
      </tr>
    </tbody>
  </table>
</app-panel>
