<app-panel [title]="'Kurzlich Hinzugefugte Mitteilungen'">

  <table class="table table-striped">
    <thead>
      <tr>
        <td>ID</td>
        <td>ERSTELLDATUM</td>
        <td>STATUS</td>
        <td>TITEL</td>
        <td>BEKANNT SEIT</td>
        <td>TIMER</td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let message of messages">
        <td>{{ message.id }}</td>
        <td>{{ message.date_created }}</td>
        <td>{{ message.status }}</td>
        <td>{{ message.name }}</td>
        <td>{{ message.date_created }}</td>
        <td>{{ message.timer }}</td>
        <td><button (click)="goToEdit()" class="btn btn-warning btn-block">EDIT</button></td>
      </tr>
    </tbody>
  </table>
</app-panel>
